*.DS_Store
Kaleido.xcodeproj/project.xcworkspace/xcuserdata/lishuxian.xcuserdatad/*
Kaleido.xcodeproj/xcuserdata/lishuxian.xcuserdatad/xcdebugger/*


Kaleido.xcodeproj/project.xcworkspace/xcuserdata/howlfu.xcuserdatad/*
Kaleido.xcodeproj/xcuserdata/howlfu.xcuserdatad/xcdebugger/*
Kaleido.xcodeproj/xcuserdata/howlfu.xcuserdatad/
